<div>
  <h4>Backend Debugging Guidelines</h4>
  <ol>
    <li>In spring-boot only need debug in controller class.</li>
    <li>Check all the API from controller and fix the error, then Goto the <b>Angular</b> Error.</li>


  </ol>
</div>
<div>
  <h4>Frontend Debugging Guidelines</h4>
  <ol>
    <li>First create an employee.</li>
    <li>After create, follow the instruction from page.</li>
    <li>If not created, then try to solve it from Create Employee Components</li>
    <li>See inspect console and error message to debug</li>
  </ol>
</div>
<div>
  <div class="text-info">Best of Luck!!!</div>
</div>
